<div class="nav flex-column align-items-center  mt-5" style="margin-top: 100px;">
    <h3>Đăng Nhập</h3>

    <ul class="nav flex-column">

        <li class="nav-item mt-3" style="width: 350px;">
            <input ng-model="user.id" type="text" class="form-control mt-3" placeholder="Họ Tên">
        </li>

        <li class="nav-item">
            <input ng-model="user.pass" type="password" class="form-control mt-3" placeholder="Mật Khẩu">
        </li>


        <button ng-click="onClickLogin()" class="form-contro mt-3 bg-dark text-light">Đăng Nhập</button>

    </ul>
</div>