<h3>Giỏ Hàng</h3>

<table class="table table-bordered table-striped table-hover mt-2">
    <thead>
        <tr>
            <th>Ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số Lượng</th>
            <th>Danh Mục</th>
            <th>Đơn Giá</th>
            <th>Tương tác</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in gioHangCtrl">
            <td>
                <div class="border rounded bg-light overflow-hiden d-flex justify-content-center"
                    style="height: 80px; width: 80px;">
                    <img ng-src="{{item.anh}}" class="mw-100 mh-100">
                </div>
            </td>
            <td>{{item.ten}}</td>
            <td><input type="number" id="quantity" name="quantity" min="1" max="10"></td>
            <td>{{item.tenDanhMuc}}</td>
            <td>{{item.giaBan}}</td>
            <td style="width: 1px;" class="text-nowrap">

                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal-{{item.id}}">Xóa</button>

                <div class="modal" id="myModal-{{item.id}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Xác nhận xóa</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                Bạn có chắc chắc muốn xóa: {{item.ten}}
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                                <button class="btn btn-danger" ng-click="OnClickDelete(item.id)">Xác
                                    nhận xóa</button>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#!xndh" class="btn btn-success">Xác Nhận</a>       


            </td>
        </tr>
    </tbody>

</table>